.education-card-container {
    position: relative;
}

.education-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.education-card {
    width: 90vw;
}

.education-info-card h3 {
    font-size: var(--fs-xl);
}

.education-info-card h5 {
    font-size: var(--fs-lg);
}

.education-info-card h6 {
    font-size: var(--fs-md);
}

@media (max-width: 480px) {
    .education-info-card h3 {
        font-size: var(--fs-lg);
    }

    .education-info-card h5 {
        font-size: var(--fs-md);
    }

    .education-info-card h6 {
        font-size: var(--fs-sm);
    }
}

.education-image {
    width: 10vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.education-image-container {
    margin-right: 10px;
}