.home-container {
    position: relative;
  }
  
  .profile-image-div {
    position: absolute;
    top: -10vh;
    left: 7vw;
    z-index: 1;
  }
  
  .profile-image {
    width: 15vh;
  }
  
  .title-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    z-index: 0;
  }
  
  .card {
    width: 90vw;
  }
  
  .card-title {
    padding-top: 5vh;
    font-size: 3.25vh !important;
  }
  