.title-card {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90vw;
}

.profile-image-div {
  display: inline-block;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
}

.profile-image {
  width: 15vh;
}

.card-title {
  font-size: 3.25vh !important;
}
