.Navigation-Bar {
    img{
        margin-left: 10px;
        height: 7vh;
        padding-right: 1vw;
    }

    .nav-item {
        padding-right: 1px;
    }

    .active {
        border-bottom: 1px solid black;
    }
}
