.Navigation-Bar {
    font-weight: bold;
    position: sticky !important;
    top: 0 !important;

    img {
        margin-left: 10px;
        height: 7vh;
        padding-right: 1vw;
    }

    .logo-img{
        cursor: pointer;
    }

    .nav-item {
        padding-right: 1px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .nav-icon {
        font-size: 1.2em;
        vertical-align: middle;
    }

    .active {
        color: black;
        border-bottom: 2px solid grey !important;
    }

    .mobile-navbar-button {
        margin-right: 2vw;
    }

    .nav-link {
        color: inherit;
        text-decoration: none;
    }

    .nav-link:hover .nav-item {
        color: black;
    }

    .nav-item::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.15s ease-in-out, left 0.15s ease-in-out;
    }

    .nav-link:hover .nav-item::after {
        width: 100%;
        left: 0;
    }
}
