.experience-card-container {
    position: relative;
}

.experience-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.experience-card-body {
    font-size: 1.80vh !important;
}

.experience-card {
    width: 90vw;
}

.experience-card-title {
    font-size: 3.25vh !important;
}

.experience-image {
    width: 10vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 1.5vh;
}

.experience-item-old{
    padding-top: 1.5vh;
    padding-bottom: 0 !important;
    border-top: 1px solid #ccc;
}

.experience-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.experience-image-container {
    margin-right: 10px;
}

.experience-description {
    padding-top: 0.25vh;
}
