.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .subFooterDiv {
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .subFooter{
      color: gray;
    }
  }