.skills-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.skills-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item{
  margin-right: .1vw;
}


.list-group-item {
    white-space: nowrap;
  }